{% extends 'listings/base.html' %}

{% block content %}

    <h1>Hello Django !</h1>
    <p>Mes groupes préférés sont :</p>
    <ul>
        {% for band in liste_bands %}
        <li>{{ band.name|upper }}</li>
        {% endfor %}
    </ul>
    <p>
        J'ai {{ liste_bands|length }} soit
        {% if liste_bands|length < 5 %}
            peu de
        {% elif liste_bands|length < 10 %}
            quelques
        {% else %}
            beaucoup de
        {% endif %}
            groupes préférés.
    </p>

{% endblock %}